*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

.page-heading{
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin: 10px 0;
  font-style: italic;
}

.text-s{
  font-size: .7rem;
}

.text-m{
  font-size: 1rem;
}

.text-l{
  font-size: 2rem;
}

// stylings for mobile devices
.home-container{
  width: 100%;
}

.nav-container{
  padding: 2px 20px;
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .logo{
    font-size: 1.2rem;
  }

  .nav-links{
    list-style: none;
    display: flex;
    width: 135px;
    justify-content: space-between;
  }

  a{
    text-decoration: none;
    color: #000000;
  }
}

.showcase-container{
  padding: 2px 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;

  .text-s{
    line-height: 1.2rem;
  }

  .text-l{
    font-size: 1.6rem;
  }

  .showcase-img{
    width: 200px;
  }

  .showcase{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;


    .showcase-title, .showcase-text{
      margin: 10px 0;
    }
  }
}

.bottom-container{
  background-color: #1e1e1e;
  padding: 2px 20px;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    text-decoration: none;
  }
  
  .bottom-text{
    color: #f5f6f7;
    width: 70%;
  }

  .btn-round{
    height: 26px;
    width: 46px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-btn{
      color: #000000;
    }

    a{
      text-decoration: none;
    }
  }
}


// posts page
.list-container{
  width: 100%;
  min-height: 100vh;
  padding: 2px 20px;
  background-color: #ffffff;
}


.posts-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.post{
  width: 100%;
  min-height: 400px;
  border-radius: 8px;
  margin: 10px 0;
  overflow: hidden;
  background:  linear-gradient(#000000, #333333);

  .post-img-container{
    width: 100%;
    height: 160px;
    overflow: hidden;
  }

  .post-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .post-text-container{
    padding: 16px 10px;

    .tag{
      margin-right: 4px;
      margin-bottom: 5px;
    }
    .title{
      margin-bottom: 18px;
    }
    .info{
      margin-bottom: 10px;
      line-height: 1.2rem;
    }
  }

  .text-l{
    font-size: 1.8rem;
  }


  a{
    text-decoration: none;
  }

  .title, a{
    color: #ffffff;
  }

  .title:hover{
    text-decoration: underline;
  }

  .info{
    color: #cccccc;
  }

  .created{
    font-style: italic;
    color: #cccccc;
  }

  .tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .tag{
    color: #cccccc;
  }
}


// detail page

.detail-nav{
  height: 60px;
  background-color: #000000;

  .text-s, a{
    color: #f5f6f7;
  }
}


.detail-container{
  width: 100%;
  background-color: #1e1e1e;
  min-height: 100vh;
  position: relative;

  

  .detail-image{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 500px;
  }

  .overlay{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    background: linear-gradient(#1e1e1eae, #1e1e1e);
  }


  .detail-content-container{
    width: 100%;
    padding: 50px 20px;
    position: absolute;
    top: 0;
    left: 0;

    .title{
      color: #ffffff;
      font-size: 1.8rem;
      font-style: italic;
    }

    .tags-container{
      display: flex;
      margin: 5px 0;
      .tag{
        margin-right: 5px;
        color: #cccccc;
      }
    }

    .info, .body{
      color: #f5f6f7;
      line-height: 2rem;
      margin: 20px 0;
      font-size: .8rem;
    }

    .created{
      font-style: italic;
      color: #cccccc;
      margin: 20px 0;
    }

  }

  .detail-content{
    width: 100%;
    background: linear-gradient(#1e1e1e, #333333);
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
  }


  // post styles
  .link{
    color: #8ab4f8;
    text-decoration: none;
  }
  .link:hover{
    text-decoration: underline;
  }

  .code-blocks{
    background-color: #1e1e1e;
    width: 100%;
    margin: 20px 0;
    padding: 6px;
    border-radius: 10px;
    color: #cccccc;
    font-size: .8rem;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       
  }
 
}




@media screen and(min-width: 400px){

  .text-s{
    font-size: .8rem;
  }
  
  .text-m{
    font-size: 1.2rem;
  }
  
  .text-l{
    font-size: 2.2rem;
  }

  .nav-container, .showcase-container, .bottom-container, .list-container{
    padding: 2px 40px;
  }


  .nav-container{
    .nav-links{
      width: 200px;
    }
  }

  .showcase-container{
    .showcase-img{
      width: 300px;
    }
    .text-l{
      font-size: 2rem;
    }
  }

  .bottom-container{
    .btn-round{
      height: 30px;
      width: 60px;
    }
  }

  .posts-container{
    .post{
      min-height: 400px;
      margin: 16px 0;
      .text-l{
        font-size: 2rem;
      }    
    }
    .post-img-container{
      height: 180px;
    }
  }

  .detail-container{
    .detail-content-container{
      padding: 60px 40px;
      .title{
        font-size: 2.2rem;
      }
      .tags-container{
        margin: 5px 0;
        .tag{
          margin-right: 8px;
        }
      }
      .info, .body{
        line-height: 2rem;
        margin: 30px 0;
        font-size: 1rem;
      }
      .created{
        margin: 20px 0;
      }
    }
    .detail-content{
      padding: 20px;
      margin: 20px 0;
    }
  }

}
  

@media screen and(min-width: 560px){
  .nav-container, .showcase-container, .bottom-container, .list-container{
    padding: 2px 60px;
  }

  .posts-container{
    .post{
      min-height: 380px;
    }
  }

  .detail-container{
    .detail-content-container{
      padding: 80px 60px;

      .title{
        font-size: 2.6rem;
      }
      .info, .body{
        line-height: 2.4rem;
      }
    }
    .detail-content{
      padding: 35px;
    }
  }
}
  


@media screen and(min-width: 800px){

  .text-s{
    font-size: .8rem;
  }
  
  .text-m{
    font-size: 1.4rem;
  }
  
  .text-l{
    font-size: 2.6rem;
  }

  .nav-container, .showcase-container, .bottom-container, .list-container{
    padding: 2px 100px;
  }

  .nav-container{
    .nav-links{
      width: 260px;
    }
  }

  .showcase-container{
    flex-direction: row;
    justify-content: space-between;
    .text-s{
      font-size: 1rem;
      line-height: 1.6rem;
    }

    .text-l{
      font-size: 2.8rem;
    }

    .showcase-img{
      width: 300px;
    }
    .showcase{
      text-align: left;
      align-items: flex-start;
    }
  }

  .posts-container{
    width: 100%;
    display: grid;
    grid-template-columns: 340px 340px;
    

    .post{
      width: 320px;
      height: 480px;
      margin: 16px 0;
      margin-right: 30px;
    }
  }


  .detail-container{
    .detail-content-container{
      padding: 90px 100px;
      width: 800px;
      .title{
        font-size: 3rem;
      }
      .tags-container{
        margin: 10px 0;
        .tag{
          margin-right: 10px;
        }
      }
      .info, .body{
        line-height: 2.5rem;
        margin: 25px 0;
        font-size: 1.1rem;
      }
      .created{
        margin: 25px 0;
      }
    }
    .detail-content{
      padding: 40px;
      margin: 20px 0;
    }

    .code-blocks{
      padding: 18px;
      font-size: 1rem;
    }
  }
}